body{
background-color: #363636  ;
color: white;
}
.header{
  
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center vertically */
  width: 100%;
  height: 10vh;
  padding:0px 10px 0px 10px;
  border-radius: 10px;
  background: #252525;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
button{
    
    border-radius: 10px;
    background: #383838;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    border: none;

}
.codArea{
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
}

.textbox{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    
    padding: 25px;
  
  
}
label{
    color:white;
}


#code-html ,#code-css, #code-js{
    cursor: pointer;
    width: 50vh;
    height: 60vh;
    border: 0 ;
    padding: 15px;
    overflow: hidden;
    line-height: 1;
    color: aliceblue;
    margin: 15px;
    background-color: #282828;
    
}


#output{
    width: 100%;
    margin: 15px;
    padding: 15px;
    background-color: #282828;
    border: none;
}
/* toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /**************************************************/
  /* clear */
  .code-div{
    position: relative;
  }
  .clear{
    cursor: pointer;
    position: absolute;
    padding-top: 3px;
    top: 0px;
    right: 20px;
    border:none;
    border-radius: 30%;
    background: rgb(255, 253, 251);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    

  }